@import "nib"
gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #cecece
rojo = #BD255B

@font-face {
	font-family: 'sfotipy';
	src:url('../fonts/sfotipy.eot?x62532');
	src:url('../fonts/sfotipy.eot?#iefixx62532') format('embedded-opentype'),
		url('../fonts/sfotipy.woff?x62532') format('woff'),
		url('../fonts/sfotipy.ttf?x62532') format('truetype'),
		url('../fonts/sfotipy.svg?x62532#sfotipy') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sfotipy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-lock:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-share:before {
	content: "\e603";
}
.icon-random:before {
	content: "\e604";
}
.icon-love:before {
	content: "\e605";
}
.icon-add:before {
	content: "\e606";
}
.icon-mute:before {
	content: "\e607";
}
.icon-vol:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-next:before {
	content: "\e60a";
}
.icon-prev:before {
	content: "\e60b";
}
.icon-stop:before {
	content: "\e60c";
}
.icon-sfotipy:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e60e";
}
.icon-mail:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}

a
	text-decoration none
body
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0
//buttons
.btn-menu
	color gris_oscuro
	float left
	font-size 2em
	left .7em
	position relative
	text-decoration none
	top .7em
.action
	color white
	cursor pointer
	font-size 1.5em
	margin-right .5em
	&:last-child
		margin-right 0
	&.gray
		color gris_oscuro
//oocss classes
.image
	position relative
.actions
	background rgba(black,.2)
	bottom 0
	left 0
	padding 1.5em
	position absolute
	right 0
	text-align right
.name
	color gris_oscuro
.author
	color gris_claro
.center
	text-align center
.center-block
	margin 0 auto
.padding-container
	padding 2.8rem
.padding-asset
	padding 1.8rem 0
.border-bottom
	border-bottom 1px solid gris_claro
.left
	float left
.right
	float right
.relative
	position relative
.pull-left
	left 0
	position absolute
	top -4px
.pull-right
	position absolute
	right 0
	top -4px
.round
	border-radius 50%
	overflow hidden
.line
	.min
	.max
		font-size .8em
	.total
		background gris_claro
		height 5px
		width 75%
		margin 0 auto
	.rep
		background rojo
		height 5px
		width 30%
		position relative
		animation 30s state infinite linear
	.circle
		background black
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -1px
		width 10px
		animation 1s circle infinite
@keyframes state
	0%
		width 0
	100%
		width 100%
@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0
.container
	font-size 0
	text-align center
.header
	.title
		text-align center
		font-size 1.2em
		height 4em
		line-height 4em

.menu
	display none
.playing
	&.small
		margin 0 auto
		width 20em
.song
	display inline-block
	font-size 1rem
	margin-bottom 2.8em
	margin-right 1em
	text-align left
	width 128px
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
.input
	border 1px solid gris_claro
	border-radius 5px
	height 2.5em
	padding 0 1em 0 2em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	right .5em
	color gris_claro
	font-size 1.2em
.isotipo
		width 122px
.logo
	padding 1.3em 0
	overflow hidden
	background white
	display none
.wrap
	width 1024px
.avatar
	width 38px
	height 38px
.username
	color gris_claro
	position relative
	top 9px
	margin-left .5em
	&:after
		content ""
		border-left 7px solid transparent
		border-right 7px solid transparent
		border-top 9px solid gris_claro
		display inline-block
		margin-left .4em
.playlist
	display none
	width 22em
	padding 0 2em
	border-left 1px solid gris_claro
	.list
		list-style none
	.item
		padding 1em 0
	.action
		font-size .8em
@media screen and (min-width:480px)
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto
			margin 0 auto
// desktop
@media screen and (min-width:1024px)
	body
		background gris_mas_claro
	.btn-menu
		display none
	.playing
		padding-top 1.3em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		border-top 1.3px solid gris_claro
		.item
			float left
			list-style none
			a
				color gris_oscuro
				text-transform uppercase
				cursor pointer
				padding 1em
				display block
				border-top 5px solid transparent
				&:hover
					border-top 5px solid gris_claro
	.header
		height auto
		border none
		.title
			display none
			padding 1em
	.music
		width 32.5em
		float left
		.description
			display none
	.logo
	.playlist
		display block






